
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@Html.ActionLink("Add Subject", "Index", "Subject")
<br>
@Html.ActionLink("Add Class", "Index", "Class")
<br>
@Html.ActionLink("Generate TimeTable", "Index", "TimeTable")